// Place all the styles related to the admins/sake_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_sake_post_box {
	margin-top: 30px;
	margin-bottom: 50px;
}
.admin_post_form p {
	color: black;
}
.admin_btn_back {
	text-align: right;
	margin-bottom: 30px;
	margin-right: 50px;
}