// Place all the styles related to the admins/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_search_box {
	width: 20%;
	margin: 0 auto;
}
.tag_search_box p {
	padding-left: 60px;
}
.table_tag {
	margin-top: 40px;
	margin-bottom: 15px;
}
.tag_btn .btn{
	width: 60px;
}
tr a:hover {
	color: red;

}
.tag_edit_form {
	margin-top: 40px;
}
.tag_edit_form .btn {
	width: 100px;
}
.tag_edit_btn {
	width: 90%;
	text-align: right;
}
@media screen and (max-width:1024px) {
	.tag_search_box {
		width: 24%;
		margin-top: 35px;
	}
}
@media screen and (max-width:768px) {
	.tag_search_box {
		width: 31%;
		margin-top: 35px;
	}
}

@media screen and (max-width:425px) {
	.tag_search_box {
		width: 59%;
	}
}
