<div class="container">
	<div class="row admin_top">
		  <div class="admin_link_btn">
		       <%= link_to "ユーザー一覧", admins_users_path, class: "btn btn-warning" %><br>
		       <%= link_to "tag管理", admins_tags_path, class: "btn btn-warning" %>
		  </div>
    </div>
</div>