<div class="container">
	<div class="row">
		  <div class="admin_link_btn">
		       <%= link_to "ユーザー一覧", admins_users_path, class: "btn" %><br>
		       <%= link_to "tag管理", admins_users_path, class: "btn" %>
<!-- 仮置き -->
		       <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn" %>
		  </div>
    </div>
</div>