<div class="container">
	<div class="row">
		  <div class="admin_link_btn">
		       <%= link_to "ユーザー一覧", admins_users_path, class: "btn black-btn" %><br>
		       <%= link_to "tag管理", admins_tags_path, class: "btn black-btn" %>
		  </div>
    </div>
</div>