<div class="container">
	<div class="row">
		<div class="col-lg-2">
		</div>
		  <div class="col-lg-8">
		       <%= link_to "ユーザー一覧", admins_users_path, class: "btn" %><br>
		       <%= link_to "tag管理", admins_users_path, class: "btn" %>
		  </div>
		<div class="col-lg-2">
		</div>
    </div>
</div>