<div class="container">
	<div class="row">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-lg-4">
		</div>
	 <div class="col-lg-4">
	   <div class="top_image_text">
	      <%=link_to sake_posts_path do %>
	      <%= image_tag 'm30603467900_1.jpg'%>
	      <p>SAKE <br> 一覧</p>
	      <% end %>
	  </div>
	  </div>
	    <div class="col-lg-4">
	    </div>
   </div>
</div>