<%= form_with(model: [sake_post, sake_comment] ) do |form| %>
  <div>
    <%= form.text_area :comment, :placeholder => "コメントをする" %>
  </div>
 <div class="form_btn">
  <div class="actions">
    <%= form.submit "コメント", class: "btn btn-xs" %>
  </div>
 </div>
<% end %>