<%= form_with(model: [sake_post, sake_comment] ) do |form| %>
  <div>
    <%= form.text_area :comment %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする", class: "addFunc button" %>
  </div>
<% end %>