<p>
  <button class="btn btn-dark btn-sm" type="button" data-toggle="collapse" data-target="#comment" aria-expanded="false" aria-controls="collapseExample">
  	  <span> コメント<%= sake_comments.count%> 件 表示</span>
  </button>
</p>
<div class="collapse" id="comment">
  <div class="card card-body comment_scroll">
	 <div class="row comment_area">
	  <div class="well">
			<% sake_comments.each do |sake_comment| %>
			  <% unless sake_comment.id.nil? %>
			    <p class="comment_text"><%= link_to "#{sake_comment.user.nickname}", sake_post_path(sake_comment.user.id) %></p>
			    <p class="coment_content">コメント：<%= simple_format(sake_comment.comment) %></p>
			    <% if sake_comment.user == current_user %>
			      <p class="comment_btn"><%= link_to '削除する', sake_post_sake_comment_path(sake_comment.sake_post_id, sake_comment.id), method: :delete, remote: true, class: "btn btn-danger active btn-sm" %></p>
			      <% else %>
			      <div class="comment_border">
			      </div>
			    <% end %>
			  <% end %>
			<% end %>

	  </div>
	</div>
  </div>
</div>