<% sake_comments.each do |sake_comment| %>
  <% unless sake_comment.id.nil? %>
    <p><%= link_to "", sake_post_path(sake_comment.user.id) %></p>
    <p>コメント：<%= sake_comment.comment %></p>
    <% if sake_comment.user == current_user %>
      <p><%= link_to '削除する', sake_post_sake_comments_path(sake_comment.sake_post_id, sake_comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>