// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_background {
	background-color: white;
}
.admin_background .ddmenu_text {
	color: black;
}
.admin_background .ddmenu_text:nth-child(2) {
	padding-left: 60px;
}
.admin_background ul.ddmenu {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
}
.admin_background ul.ddmenu li {
   width: 80px;          /* メニュー項目の横幅(125px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
.admin_background ul.ddmenu a {
   /*background-color: #cc0000;*/ /* メニュー項目の背景色(濃い赤色) */
   color: black;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: normal;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
}
.admin_background ul.ddmenu ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid black; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
.admin_background a,
.admin_background p,
.admin_background span {
	color: black;
	  a:hover {
	  	color: red;
	  }
}
.admin_top {
	margin-top: 80px;
}
.admin_hedding {
  text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.admin_field_box {
  width: 48%;
  margin: 0 auto;
}
.admin_actions {
  width: 39%;
  margin: 0 auto;
}
.admin_actions .btn {
	width: 140px;
}
.admin_link_btn {
	width: 44%;
	margin: 0 auto;
}
.admin_link_btn .btn {
  width: 500px;
}
.admin_link_btn .btn:nth-child(1) {
	margin-bottom: 20px;
}
.footer_admins {
	color: black;
	margin-top: 50px;
}
.under_border_admins {
	display: none;
}
.admin_field_form {
  margin: 30px 0;
}
.admin_paginate {
  width: 100%;
}
.admin_paginate nav {
  width: 100px;
  margin: 0 auto;
}
.admin_paginate a {
  color: black;
}
.admin_paginate a:hover {
  color: red;
}
.admin_paginate span {
  color: black;
}


@media screen and (max-width:1024px) {
    .admin_field_box {
      width: 54%;
      margin: 0 auto;
  }
}


@media screen and (max-width:768px){
  .admin_field_box {
    width: 24%;
    margin: 0 auto;
  }
  .admin_actions {
  width: 20%;
  margin: 0 auto;
  }
  .admin_link_btn {
  width: 40%;
  margin: 0 auto;
  }
  .admin_link_btn .btn {
    width: 300px;
  }
}

@media screen and (max-width:425px) {
  .admin_field_box {
    width: 49%;
  }
  .admin_actions {
    width: 40%;
  }
  .admin_link_btn {
    width: 77%;
  }
  .admin_background .ddmenu_text:nth-child(1) {
  padding-left: 30px;
}
  .admin_background .ddmenu_text:nth-child(2) {
  padding-left: 30px;
}


}