// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admins {
	background-color: white;
}
.header_admins .ddmenu_text {
	a:hover {
		color: red;
	}
}
.admin_hedding {
	padding-left: 120px;
	margin-bottom: 30px;
}