/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import"bootstrap-sprockets";
 @import"bootstrap";
 *{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
}
.sessions {
	background-color: white;
}
.header_sessions {
	width: 100%;
	height: 80px;
	  a,a:visited{
        color:black;
	  }
	    a:hover{
	      color:black;
	    }
}
.registrations {
	background-color: white;
}
.header_registrations {
	width: 100%;
	height: 80px;
	  a,a:visited{
        color:black;
	  }
	    a:hover{
	      color:black;
	    }
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
a:hover {
	color: white;
}
header {
	width: 100%;
	height: 80px;
	  a,a:visited{
        color:white;
	  }
	    a:hover{
	      color:white;
	    }
}
.header_border {
    background-color: white;
	height: 1.2px;
	width: 90%;
	margin: 0 auto;
}
.top_border_registrations {
	display: none;
}
.top_border_sessions {
	display: none;
}
nav {
	width: 1120px;
	height: 80px;
}
footer {
	height: 50px;
    color: white;
    margin-left: 80px;
}
.footer_border {
    background-color: white;
	height: 1.2px;
	width: 90%;
	margin: 0 auto;
}
.under_border_sessions {
	display: none;
}
.under_border_registrations {
	display: none;
}
.footer_sessions {
	color: black;
}
.footer_registrations {
	color: black;
}
.nav_list {
	height: 70px;
	float: right;
}
.nav_list_item {
	display: inline-block;
	height: 80px;
	line-height: 115px;
	padding: 0 10px;
}
.nav_list_item:nth-child(5) {
	margin-left: 80px;
}
.signup_box {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}
.signup_box p {
	text-align: center;
}
.field input {
	margin-bottom: 20px;
}
.signup_actions {
	text-align: center;
	margin-top: 10px;
}
.header_text {
	text-align: center;
	width: 255px;
}
.header_text:nth-child(1) {
	margin-top: 20px;
}
.signin_box {
	margin-top: 30px;
	margin-bottom: 100px;
}
.signin_box_field input {
	margin-bottom: 20px;
}
.signin_actions {
	text-align: center;
	width: 255px;
}
.header_text_box {
	text-align: center;
	margin-top: 20px;
}
.btn {
	background-color: black;
	color: white;
	width: 150px;
	margin-bottom: 50px;
}
