 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap" ;
.sake_logo {
    font-family: 'sans-serif', 'arial unicode ms';
}
 *{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.sessions {
  background-color: white; /*controllerで背景色を変更*/
}
.registrations {
  background-color: white; /*controllerで背景色を変更*/
}
.logo {
  line-height: 53px;
  padding-left: 13px;
  height: 44px;
  margin-top: 24px;
  margin-left: 14px;
}
.sake_logo {
  color: white;
  font-size: 30px;
}
.sessions .sake_logo {
  color: black;              /*controllerでロゴ変更*/
  font-size: 30px;
}
.registrations .sake_logo {
  color: black;              /*controllerでロゴ変更*/
  font-size: 30px;
}
.fa-beer {
  color: gold;
}
a,a:hover,a:visited{
  text-decoration: none;
}
.iine {
 color: #ff0000;            /*いいねした時の色*/
 }
header {
	width: 100%;
	height: 80px;
}
.sake_posts ul.ddmenu_2 li {
    width: 32%;
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.header_sake_posts ul.ddmenu_2 ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid white; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
.sessions .under_border:after {     /*下線のcss*/
  display: none;
}
.registrations .under_border:after {  /*下線のcss*/
  display: none;
}
ul.ddmenu li {
   width: 48%;          /* メニュー項目の横幅(125px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
   /*background-color: #cc0000;*/ /* メニュー項目の背景色(濃い赤色) */
   color: black;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: normal;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
   /*background-color: #ffdddd;*/ /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}
ul.ddmenu ul {
   margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
   padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
   display: none;      /* ★標準では非表示にする */
   position: absolute; /* ★絶対配置にする */
   z-index: 1;
}
.ddmenu_text_nickname {
  width: 500px!important;
  padding-top: 60px;
  padding-left: 35px;
  color: #e6dadb;
}
.ddmenu_text {
	height: 80px;
	padding-top: 50px;
  color: white;
}
.registrations .ddmenu_text {
  color: black;
 }
 .sessions .ddmenu_text {
  color: black;
 }
.ddmenu_text:nth-child(3) {
  padding-left: 67px;
}
ul.ddmenu {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
}
.registrations ul.ddmenu li {
   width: 32%;          /* メニュー項目の横幅(125px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
.sessions ul.ddmenu li {
   width: 32%;          /* メニュー項目の横幅(125px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
.header_registrations ul.ddmenu ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid black; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
.header_sessions ul.ddmenu ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid black; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li {
   width: 100px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid white; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {
   line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
   text-align: center;    /* 文字列の配置(左寄せ) */
   padding-left: 5px;   /* 文字列前方の余白(5px) */
   font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {
   /*background-color: black;*/ /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: #dd0000;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}
footer {
	height: 50px;
  margin-top: 50px;
}
.sessions .footer_under_border:before {
  display: none;
}
.registratins .footer_under_border:before {
  display: none;
}
.registration_hedding {
  width: 571px;
}
.registrations #error_explanation{
  width: 90%;
  margin: 30px auto;
  padding-top:10px;
  padding-bottom:5px;
}
.sessions #error_explanation{
  width: 150%;
  margin: 30px auto;
  padding-top:10px;
  padding-bottom:5px;
}
#error_explanation > h2{
  display: none;
}
// 改行されてしまう対応
.field_with_errors{
  display: inline-block;
}
.signup_box {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}
.signup_box p {
	text-align: center;
}
.field input {
	margin-bottom: 20px;
}
.signup_actions {
	text-align: center;
	margin-top: 10px;
  width: 571px;
}
.header_text {
	text-align: center;
}
.header_text:nth-child(1) {
	margin-top: 20px;
}
.header_text:nth-child(2) {
  text-align: center;
}
.signin_box {
	margin-top: 30px;
}
.signin_box_field input {
	margin-bottom: 20px;
}
.signin_actions {
  width: 58%;
  margin: 0 auto;
}
.sign_in_box_btn {
  width: 42%;
  margin: 0 auto;
}
.button {
  display: inline-block;
  width: 150px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  outline: none;
  background-color: #333;
  color: #fff;
  padding: 0;
  border-radius: 0;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button:hover {
  background-color: #f5f5f5;
  color: #333;
}
.paginate {
  width: 100%;
}
.paginate nav {
  width: 108px;
  margin: 0 auto;
  display: block;
}
.paginate a {
  color: white;
}
.paginate a:hover {
  color: red;
}
.paginate span {
  color: white;
}
.image_filed {
  color: white;
}
.field_form {
  margin: 30px 0;
  width: 225px;
}
.btn-default {
  width: 150px;
}

@media screen and (max-width:1024px) {
   img {
    width: 200px;
    height: 300px;
   }
  .sessions ul.ddmenu li {
    width: 24%;
  }
  .registrations ul.ddmenu li {
    width: 24%;
  }
  .tops ul.ddmenu_2 li {
    width: 24%;
  }
  .sake_posts ul.ddmenu_2 li {
    width: 24%;
  }
  .sessions ul.ddmenu ul li {
    width: 90px;
  }
  .registrations ul.ddmenu ul li {
    width: 90px;
  }
  .tops ul.ddmenu_2 ul li {
    width: 90px;
  }
  .sake_posts ul.ddmenu_2 ul li {
    width: 90px;
  }
}


@media screen and (max-width:768px) {
   img {
    width: 200px;
    height: 300px;
   }
   .user_post_image_bottom img {
    margin-bottom: 7px; 
   }
  .sessions ul.ddmenu li {
    width: 30%;
  }
  .registrations ul.ddmenu li {
    width: 30%;
  }
  .tops ul.ddmenu_2 li {
    width: 30%;
  }
  .sake_posts ul.ddmenu_2 li {
    width: 30%;
  }
  .header_text {
    text-align: center;
  }
  .header_text:nth-child(2) {
    margin-bottom: 42px;
}

  .header_text_box {
    margin-top: 140px;
  }
  .signin_field_box {
    width: 100%;
  }
  .signin_field {
    width: 33%;
    margin: 0 auto;
  }
  .signin_actions {
    width: 20%;
    margin: 0 auto;
  }
  .sign_in_box_btn {
    width: 20%;
    margin: 0 auto;
  }
  .footer_sessions {
    text-align: center;
  }

  .ddmenu_text_nickname {
    width: 400px!important;
  }
  .header_text_box {
    margin-bottom: 100px;
  }
}


@media screen and (max-width:425px) {
   img {
    width: 200px;
    height: 300px;
   }
  .ddmenu_text_hedding {
    padding-left: 60px;
  }
  .sessions ul.ddmenu ul li {
    width: 55px;
  }
  .registrations ul.ddmenu ul li {
    width: 55px;
  }
    .tops ul.ddmenu ul li {
    width: 55px;
  }
  .tops ul.ddmenu_2 ul li {
    width: 55px;
  }
  .sake_posts ul.ddmenu_2 ul li {
    width: 55px;
  }
  .sessions ul.ddmenu ul li a {
    line-height: 25px;
  }
  .registrations ul.ddmenu ul li a {
    line-height: 25px;
  }
  .tops ul.ddmenu ul li a {
    line-height: 25px;
  }
  .tops ul.ddmenu_2 ul li a {
    line-height: 25px;
  }
  .sake_posts ul.ddmenu_2 ul li a {
    line-height: 25px;
  }
  ul.ddmenu ul li {
    width: 55px;
  }
  ul.ddmenu ul li a {
    line-height: 25px;
  }
  .social {
    font-size: 14px;
  }
  .sessions .social .fa-beer {
    font-size: 10px;
  }
  .sessions .logo {
    padding-left: 3px;
    line-height: 36px;
    height: 37px;
    margin-top: 42px;
    margin-left: 5px;
  }
  .sessions .sake_logo {
    font-size: 15px;
  }
  .registrations .social .fa-beer {
    font-size: 10px;
  }
  .registrations .logo {
    padding-left: 9px;
    line-height: 36px;
    height: 37px;
    margin-top: 42px;
    margin-left: 5px;
  }
  .registrations .sake_logo {
    font-size: 15px;
  }
  .social .fa-beer {
    font-size: 10px;
  }
  .logo {
    padding-left: 9px;
    line-height: 36px;
    height: 37px;
    margin-top: 42px;
    margin-left: 5px;
  }
  .sake_logo {
    font-size: 15px;
  }
  .sake_posts ul.ddmenu_2 li {
    width: 19%;
  }
  .tops ul.ddmenu_2 li {
    width: 22%;
  }
  .registrations ul.ddmenu li {
    width: 22%;
  }
  .sessions ul.ddmenu li {
    width: 22%;
  }
  .ddmenu_text:nth-child(3) {
    padding-left: 130px;
  }
  .signup_box {
    font-size: 10px;
  }
  .signin_box {
    font-size: 10px;
  }
  .registration_field input {
    width: 300px;
  }
  .registration_hedding {
    width: 90%;
    margin: 20px auto;
  }
  .signup_actions {
    width: 90%;
    margin: 0 auto;
  }
  .sessions #error_explanation {
    width: 44%;
  }
  .signin_field {
    width: 55%;
    margin: 0 auto
  }
  .signin_actions {
    width: 27%;
    margin: 0 auto;
  }
  .sign_in_box_btn {
    width: 27%;
    margin: 0 auto;
  }
  .footer_under_border {
    font-size: 10px;
  }
  .ddmenu_text {
    font-size: 10px;
    padding-top: 60px;
    padding-left: 12px;
  }
  .ddmenu_text_nickname {
    width: 185px!important;
    font-size: 10px;
    padding-top: 74px;
    padding-left: 25px
  }
  .button {
    width: 90px;
    height: 20px;
    line-height: 19px;
    font-size: 10px;
  }
  .footer_tops .footer_under_border {
    width: 66%;
    margin: 0 auto;
  }
  .footer_registrations .footer_under_border {
    width: 66%;
    margin: 0 auto;
  }
}