// Place all the styles related to the retires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.retires .logo {
  line-height: 53px;
  padding-left: 13px;
  height: 44px;
  margin-top: 24px;
  margin-left: 14px;
}
.retires .fa-beer {
  color: gold;
}
.retires .social .sake_logo {
  color: black;
  font-size: 30px;
}

.header_retires ul.ddmenu ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid black; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
.retires .ddmenu_text_nickname {
	color: black;
}
.retires .ddmenu_text {
	color: black;
}
.retire_box {
	width: 100%;
	margin-top: 100px;
}
.retire_content {
	width: 28%;
	margin: 0 auto;
}
.retire_text {
	padding-left: 67px;
}
.retire_btn {
	text-align: right;
}
.retire_btn .btn {
	width: 80px;
}
@media screen and (max-width:1024px) {
	.retire_content {
		width: 50%;
	}
}

@media screen and (max-width:425px) {
	.retire_content {
		width: 88%;
	}
	.retires .logo {
    padding-left: 9px;
    line-height: 36px;
    height: 37px;
    margin-top: 42px;
    margin-left: 5px;

  }
    .retires .social .sake_logo {
  font-size: 14px;
}
.retire_text {
  padding-left: 52px;
}


}