// Place all the styles related to the SakeComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment_scroll {
  overflow-x: scroll;
  width: 920px;
  height: 500px;
}