// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tops .logo {
  line-height: 53px;
  padding-left: 13px;
  height: 44px;
  margin-top: 24px;
  margin-left: 14px;
}
.tops .fa-beer {
  color: gold;
}
.tops .social .sake_logo {
  color: black;
  font-size: 30px;
}

.how_to_box {
	margin-top: 50px;
}
.tops .ddmenu_text {
  color: black;
 }
.tops .ddmenu_text_nickname {
  padding-top: 66px;
  padding-left: 15px;
  color: black;
}
.tops ul.ddmenu li {
    width: 49%;
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.header_tops ul.ddmenu ul li {
   width: 125px;               /* サブメニュー1項目の横幅(135px) */
   border-bottom: 1px solid black; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
.top_border_tops {
  display: none;
}
.modal_text {
	text-align: center;
}
.modal_btn {
	text-align: center;
	padding-bottom: 10px;
}
.modal_btn .btn {
	width: 100px;
}


@media screen and (max-width:425px) {
  .tops .logo {
    padding-left: 3px;
    line-height: 36px;
    height: 37px;
    margin-top: 42px;
    margin-left: 5px;

  }
  .tops .ddmenu_text_nickname {
    padding-top: 75px;
  }
  .tops ul.ddmenu li {
    width: 48%;
  }
  .tops .social .sake_logo {
  font-size: 14px;
}
}
