// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the sake_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users {
  background: image-url('1289519907-simply-wood-dark-iphone-wallpaper.png');
  background-position: center center;
  /* タイル状には並べないように指定 */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するディスプレイの大きさに基づいて、背景画像を縦横比を固定しながら調整 */
  background-size: cover;
  /* 画像が読み込まれる前の背景色の指定 */
  background-color: #464646;
}
.users #error_explanation {
	color: red;
}
.header_users ul.ddmenu a {
   /*background-color: #cc0000;*/ /* メニュー項目の背景色(濃い赤色) */
   color: white;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: normal;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
}
.under_border {
  position: relative;
}
.under_border:after {
	content: " ";
	display: block;
	border-bottom: 1px solid white;
	bottom: -3px;
	width: 100%;
	margin: 0 auto;
}
.user_box span,
.user_box p,
.user_box a {
	color: white;
}
.user_box a:hover {
	color: red;
}
.user_image {
	margin-top: 50px;
	margin-bottom: 100px;
}
.user_image_text {
	width: 200px;
	text-align: center;
	margin-top: 10px;
}
.user_text {
	margin-top: 70px;
}
.user_nickname {
	padding-left: 65px;
}
.user_favolite_sake {
	padding-left: 81px;
}
.user_favolite_shop {
	padding-left: 49px;
}
.user_introduction_scroll {
	overflow-x: scroll;
    width: 600px;
    height: 100px;
}
.sake_post_mybtn a:nth-child(3) {
	margin-left: 30px;
}
.user_editbtn {
	width: 270px;
	margin-top: 30px;
	text-align: center;
}
.user_editbtn .btn {
	width: 140px;
}
.user_mybtn {
	text-align: right;
	margin-top: 130px;
	padding-right: 30px;
}
.user_mybtn a:nth-child(2) {
	margin-left: 10px;
}
.user_mybtn a:nth-child(3) {
	margin-left: 20px;
	margin-right: 20px;
}
.user_post_btn {
	text-align: right;
	padding-right: 30px;
}
.user_post_btn a {
	color: white;
}
.user_post_btn a:hover {
	 	color: red;
}
.user_post_box {
	margin-top: 50px;
}
.user_post_box p {
	color: white;

}
.user_post_text {
	margin-top: 30px;
	margin-bottom: 40px;
}
.user_post_mybtn {
}
.footer_users {
	color: white;
}
.user_post_paginate {
  width: 100%;
  line-height: 90px;
}
.user_post_paginate nav {
  width: 108px;
  margin: 0 auto;
  display: block;
}
.user_post_paginate a {
  color: white;
}
.user_post_paginate a:hover {
  color: red;
}
.user_post_paginate span {
  color: white;
}
.user_post_scroll {
  overflow-x: scroll;
  height: 700px;
}
.footer_users {
	color: white;
    width: 100%;
    margin-bottom: 50px;
}
.footer_under_border {
	position: relative;
	height: 50px;
}
.footer_under_border:before {
	content: " ";
	display: block;
	border-bottom: 1px solid white;
	bottom: -3px;
	width: 100%;
}
.footer_under_border footer {
	color: white;
}


@media screen and (max-width:1024px) {
  .user_mybtn {
  	padding-right: 60px;
  }
  .btn_back {
  	padding-right: 10px;
  }
  .paginate {
    display: none;
  }
  .user_post_paginate {
  	display: none;
  }
}

@media screen and (max-width:768px) {
	.user_image {
		width: 40%;
		margin: 20px auto;
	}
	.user_text {
		margin: 0 auto;
	}
	.user_introduction_scroll {
		width: 430px;
	}
	.user_mybtn {
		margin-top: 30px;
		width: 555px;
		padding-right: 10px;
	}
}
@media screen and (max-width:425px) {
	.user_introduction_scroll {
    width: 313px;
    }
    .user_post_image {
      margin: 35px auto;
   }
    .user_image {
    width: 60%;
    margin: 53px auto;
    }
    .user_post_text {
    	font-size: 10px;
    }
    .user_post_mybtn {
    	font-size: 10px;
    }
    .user_mybtn {
    	width: 321px;
    }
    .user_text {
    	font-size: 10px;
    }
    .user_nickname {
    	padding-left: 20px;
    }
    .user_favolite_sake {
    	padding-left: 30px;
    }
    .user_favolite_shop {
    	padding-left: 10px;
    }
    .user_image_text {
      font-size: 10px;
    }
    .nav-tabs li {
      font-size: 10px;
    }
    .user_post_box {
      margin-top: 0;
    }

}