<div class="container">
  <nav>
              	<ul class="ddmenu">
                  <div class="row">
                      <div class="col col-lg-9 col-md-8">
                      </div>
                       <div class="col col-lg-3 col-md-4">
                         <% if admin_signed_in? %>
                            <li class="ddmenu_text"><%= link_to "ログアウト",destroy_admin_session_path, method: :delete %></li>
                            <li class="ddmenu_text">
                                      menu
                              <ul>
                                 <li><%= link_to "酒一覧", sake_posts_path %></li>
                                 <li><%= link_to "ユーザー一覧", admins_users_path %></li>
                                 <li><%= link_to "タグ一覧", admins_tags_path %></li>
                              </ul>
                            </li>
                         <% end %>
                        </div>
                    </div>
                </ul>
  </nav>
</div>
